<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete product</h5>
        <button type="button" class="close" (click)="close()" aria-label="Close">
        <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete {{inputs.product.title}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-danger" (click)="remove()">Delete</button>
    </div>
    </div>
</div>
